.navbar-toggler {
  padding: 0 !important;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
}
.logo {
  height: 80px;
}
.mlAuto{
    margin-left: auto;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  width: 8rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item:hover {
  background: #fff;
}

.pullLeft {
  margin-right: 80px;
}
